
    .footer {
        width: 100%;
        position: relative;
        bottom: 0;
        padding: 2rem 0;
        color: var(--dark-color);
        text-align: center;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer .footer-logo {
        padding: 0;
        margin: 0; 
        display: flex;
        align-self: center;
    }

    .footer-logo figure img {
        height: 5rem;
        width: auto;
    }

    footer p {
        color: var(--dark-color);
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    /*------Footer navigation------*/
    .footer-nav ul {
        color: var(--dark-color);
        justify-content: center;
        list-style-type: none;
        margin: 0.7rem 0 0;
        padding: 0;
        font-size: 0.7rem;
        display: inline;
    }

    .footer-nav ul li {
        margin: 0;
        padding: 0;
    }

    .footer-links-about ul li {
        font-size: 0.7rem;
        list-style-type: none;
        text-align: center;
    }

    .footer-links-about li:nth-child(1) {
        margin: 0 1rem;
    }

    .footer-links-about li a {
        color: var(--dark-color);
        font-size: 0.8rem;
        line-height: 1.5rem;
        content: "|";
        margin: 0 1rem;
        display: inline-block;
    }

    .footer-links-about li a:hover {
        text-decoration: none;
        color: var(--main-color);
    }

    
/*****************************
Media query for big devices
*****************************/
@media (min-width: 1024px) {
        
    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer .footer-logo {
        padding-left: 3rem;
    }

    .footer-logo, footer p {
        flex-basis: 40%;
    }

    .footer-nav {
        display: inline-flex;
        flex-direction: column;
        padding-right: 3rem;
    }

    .footer-links {
        display: flex;
        flex-direction: row; /* Make the footer links display in a row */
        justify-content: flex-start; /* Align links to the left */
        padding-top: 1rem;
    }

    .footer-links li a {
        font-size: 0.9rem;
    }

    .footer-links-about ul {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the left */
    }

    .footer-links-about li {
        margin: 0.5rem 0; /* Adjust spacing for vertical layout */
    }

}