
    .footer {
        width: 100%;
        position: relative;
        bottom: 0;
        padding: 2rem 0;
        background-color: var(--accent-color);
        color: var(--dark-color);
        text-align: center;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer .footer-logo {
        padding: 0;
        margin: 0; 
        display: flex;
        align-self: center;
    }

    .footer-logo figure img {
        height: 5rem;
        width: auto;
    }

    footer p {
        color: var(--dark-color);
        font-size: 0.6rem;
        margin: 0;
        padding: 0;
    }

    /*------Footer navigation------*/
    .footer-nav ul {
        color: var(--dark-color);
        justify-content: center;
        list-style-type: none;
        margin: 0.7rem 0 0;
        padding: 0;
        font-size: 0.7rem;
    }

    .footer-nav ul li {
        margin: 0;
        padding: 0;
    }

    .footer-links-about ul li {
        font-size: 0.6rem;
        list-style-type: none;
    }

    .footer-links-about li:nth-child(1) {
        margin: 0 1rem;
    }

    .footer-links-about li a {
        color: var(--dark-color);
        font-size: 0.8rem;
        line-height: 1.5rem;
        content: "|";
        margin: 0 1rem;
        display: inline-block;
    }

    .footer-links-about li a:hover {
        text-decoration: none;
        color: var(--main-color);
    }

    /*------Icons------*/
    div.icons {
        display: inline-block;
        margin-top: 1rem;
        list-style: none;
        padding: 0;
    }

    .icons {
        content: "";
        display: flex;
    }

    div.icons ul {
        display: flex; /* Ensure icons inside <ul> are side by side */
        padding: 0; /* Remove any unwanted padding */
        margin: 0; /* Reset margins */
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }


    div.icons ul li a {
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 2rem;
        width: auto;
        max-width: 100%;
    }

    div.icons li a:hover {
        opacity: 0.7;
    }



/*****************************
Media query for medium and big devices
*****************************/
@media (min-width: 768px) {
        
    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer .footer-logo {
        padding-left: 3rem;
    }

    .footer-logo, footer p {
        flex-basis: 40%;
    }

    .footer-nav {
        display: inline-flex;
        flex-direction: column;
        padding-right: 3rem;
    }

    .footer-links {
        display: flex;
        flex-direction: row; /* Make the footer links display in a row */
        justify-content: flex-start; /* Align links to the left */
        padding-top: 1rem;
    }

    .footer-links li a {
        font-size: 0.9rem;
    }

    .footer-links-about ul {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start; /* Align items to the left */
    }

    .footer-links-about li {
        margin: 0.5rem 0; /* Adjust spacing for vertical layout */
    }

    /*------Icons------*/
    div.icons {
        display: inline-block;
        margin-top: 1rem;
        list-style: none;
        padding: 0;
    }

    .icons {
        content: "";
        display: none;
    }

    div.icons ul {
        display: flex; /* Ensure icons inside <ul> are side by side */
        padding: 0; /* Remove any unwanted padding */
        margin: 0; /* Reset margins */
        gap: 5rem;
    }

    div.icons ul li a {
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    div.icons li a:hover {
        opacity: 0.7;
    }

}