
    .footer {
        width: 100%;
        position: relative;
        bottom: 0;
        padding: 2rem 0;
        background-color: var(--accent-color);
        color: var(--dark-color);
        text-align: center;
        margin-top: 4.5rem;
        display: flex;
        justify-content: space-between;
    }

    .footer .footer-logo {
        padding: 0;
        margin: 0; 
        display: flex;
    }

    .footer-logo figure img {
        height: 5rem;
        width: auto;
    }

    footer p {
        color: var(--dark-color);
        font-size: 0.85rem;
        margin: 0;
        padding: 0;
    }

    /*------Footer navigation------*/
    .footer-nav ul {
        color: var(--dark-color);
        justify-content: center;
        list-style-type: none;
        margin: 0.7rem 0 0;
        padding: 0;
        font-size: 0.8rem;
    }

    .footer-nav ul li {
        margin: 0;
        padding: 0;
    }

    .footer-links-about li a {
        color: var(--dark-color);
        font-size: 0.8rem;
        line-height: 1.5rem;
        content: "|";
        margin: 0 1rem;
        display: inline-block;
    }

    .footer-links-about li a:hover {
        text-decoration: none;
        color: var(--main-color);
    }

    /*------Social media icons------*/
    div.social {
        display: inline-block;
        margin-top: 1rem;
        list-style: none;
        padding: 0;
    }

    .social {
        content: "";
        display: none;
    }

    div.social ul {
        display: flex; /* Ensure icons inside <ul> are side by side */
        padding: 0; /* Remove any unwanted padding */
        margin: 0; /* Reset margins */
    }


    div.social ul li a {
        display: flex;
        width: 2rem;
        height: 2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-right: 1rem;
        padding-left: 2rem;
    }

    div.social ul li a.instagram {
        background-image: url("../img/instagram.png");
    }

    div.social li a:hover {
        opacity: 0.7;
    }



/*****************************
Media query for medium and big devices
*****************************/
@media (min-width: 768px) {
        
    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .footer .footer-logo {
        padding-left: 3rem;
    }

    .footer-logo, footer p {
        flex-basis: 40%;
    }

    .footer-nav {
        display: inline-flex;
        flex-direction: column;
        padding-right: 3rem;
    }

    .footer-links {
        display: flex;
        flex-direction: row; /* Make the footer links display in a row */
        justify-content: flex-start; /* Align links to the left */
        padding-top: 1rem;
    }

    .footer-links li a {
        font-size: 0.9rem;
    }

    .social {
        display: flex;
        justify-content: flex-end; /* Align social icons to the right */
        content: "";
        display: none;
    }

    .footer-nav ul, .footer-links ul {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: flex-end;    
    }

    .footer-nav ul li, .footer-links ul li {
        margin-right: 0; /* Space out the list items */
    }

    /*.footer-nav ul li:not(:last-child)::after {
        content: "|";
        margin-left: 1rem;
        margin-right: 1rem;
        color:var(--light-color); /* Adjust separator color 
    }*/

    .social ul li:not(:last-child)::after {
        content: none;
    }
