.header-container {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--accent-color);
    position: static;
}

.header-logo {
    flex: 1;
    margin: 0;
    width: 100%;
}

.header-logo img {
    height: 7rem;
    width: auto;
    display: block;
    align-items: center;
    margin-left: 1rem;
}

.logo-text {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.top-nav {
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    min-width: 200px;
    background-color: var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
    z-index: 1000;
    
}

.top-nav.active {
    display: flex;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    margin: 0.5rem 0;
    font-weight: bold;
}

.top-nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    display: block;
    transition: background 0.3s ease-in-out;
    border-radius: 25rem;
}

.top-nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
.top-nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
.top-nav ul li a:hover {
    background-color: var(--light-color);
}

.top-nav ul li a:active {
    background-color: var(--light-color);
}

.top-nav ul li a:focus {
    background-color: var(--main-color);
    color: light;
}

.top-nav .search-container button:hover {
    background: var(--accent-color);
  }


/*This should not show on mobile*/
.top-nav ul li:not(:last-child)::after {
    display: none;
}


/*****************************
Media query for medium and big devices
*****************************/
@media (min-width: 768px) {
    .menu-toggle {
        display: none; /* Hide the hamburger menu */
    }

    .top-nav {
        display: flex;
        position: static;
        transform: none;
        justify-content: space-between;
        align-items: center;
        width: auto;
        background: transparent;
        box-shadow: none;
        padding-right: 3rem;
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .top-nav ul li {
        margin: 0 1rem;
    }

    .top-nav ul li a {
        padding: 0.5rem 1rem;
        display: inline-block;
    }

    .header-logo {
        padding-left: 3rem;
    }