.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.header-logo img {
    height: 5rem;
    width: auto;
    display: block;
    margin: 0 auto;
}

.menu-toggle {
    margin-bottom: 1rem;
}

.top-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--accent-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: 1000;
}

.top-nav.active {
    display: flex;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li {
    font-weight: bold;
}

.top-nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    display: block;
    transition: background 0.3s ease-in-out;
    border-radius: 25rem;
}

/*.top-nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
.top-nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
.top-nav ul li a:hover,
.top-nav ul li a:active {
    border-bottom: 1rem solid var(--accent-color);
    padding-bottom: 0.5rem;
}*/

#nav-links a.active {
    color: var(--accent-color);
    font-weight: bold;
    border-bottom: 2px solid var(--accent-color);
  }

.wave {
    position:relative;
    width: 100%;
    height: 2vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 40px;
    max-height: 80px;
  }
  
  
  /* Animation */
  
  .parallaxwave > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallaxwave > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
  }
  .parallaxwave > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  
  
  

/*****************************
Media query for medium and big devices
*****************************/
@media (min-width: 768px) {
    .menu-toggle {
        display: none; /* Hide the hamburger menu */
    }

    .top-nav {
        display: flex;
        position: static;
        transform: none;
        justify-content: space-between;
        align-items: center;
        width: auto;
        background: transparent;
        box-shadow: none;
        /*padding-right: 3rem;*/
    }

    .top-nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .top-nav ul li {
        margin: 0 1rem;
    }

    .top-nav ul li a {
        padding: 0.5rem 1rem;
        display: inline-block;
    }

    .header-logo {
        padding-left: 3rem;
    }
}
