
:root {
    --main-color:#d64000;
    --accent-color:#ff9f68;
    --link-color:rgb(195, 225, 142);
    --light-color: #FFFFFF;
    --dark-color: #270A02;
    --background-color: #FFFFFF;
    --low-opacity: rgba(255, 255, 255, 0.7);
  }
  