
:root {
    --main-color: #D64000;
    --accent-color: #ffce84;
    --link-color: #C3E18E;
    --light-color: #FFFFFF;
    --dark-color: #270A02;
    --background-color: #FFFFFF;
    --low-opacity: rgba(255, 255, 255, 0.7);
  }
  